html, body {
    height: 100%;
    font-family: arial, serif;
    background: #f1f1f1;
    line-height: 1.3rem;
    font-size: .9rem;
}

html, body, nav ul {
    margin: 0;
    padding: 0;
}

header, main, footer, #container, .box, article, code, pre {
    box-sizing: border-box;
}

code {
    white-space: pre-wrap;
    overflow-x: scroll;
}

article {
    overflow: hidden;
    box-sizing: border-box;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: justify;
}

article img {
    display: block;
    margin: 0 auto;
}

article table {
    border-collapse: collapse;
}

article tr:nth-child(even){
    background: #3b497f;
}

article td, article th {
    border: 1px solid #ddd;
    padding: 8px;
}

article th {
    padding: 12px 0 12px 0;
    text-align: left;
    background: #4CAF50;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
}

nav {
    background: #3b497f;
    color: #fff;
}

nav input {
    display: none;
}

nav ul {
    list-style-type: none;
    overflow: hidden;
}

nav li {
    float: left;
}

nav li.right {
    float: right;
}

nav a {
    display: block;
    padding: .5rem 1rem;
    color: #fff;
    text-decoration: none;
    outline: 0;
}

nav a:hover, nav a:active, nav a:focus, nav a.active {
    background: #43528c
}

nav .icon {
    display: none;
}

#navToggle, nav i {
    cursor: pointer;
}

nav i {
    padding: .5rem 1rem;
}

header {
    height: 10rem;
    display: none;
    background: #303c6c;
}

main {
    width: 100%;
    padding: 1rem 0 0 0;

    /*display: flex;
    flex-direction: column;
    flex: 1;*/
}

.floater {
    width: 90%;
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
    flex: 0;
}

main .floater {
    /*display: flex;
    flex-flow: row wrap;*/
    justify-content: space-between;

}

p {
    float: none;
}

footer {
    padding: 1rem 0 1rem 0;
    background: #e9e9e9;
}

#copyright {
    float: left;
}

#contact {
    float: right;
}

.box {
    border: 1px solid #ccc;
    margin-bottom: 1rem;
    display: inline-block;
}

.box.preview {
    width: 32%;
    background: #fff;
}

.preview h1 {
    margin: 0;
    font-size: 1.2rem;
    background: #303c6c;
}

.preview h1 a {
    padding: 10px;
    display: block;
    color: #fff;
}

.preview a {
    text-decoration: none;
    color: #000;
}

.preview p a {
    text-decoration: underline;
}

.preview p {
    margin: 0;
    padding: 10px;
}

.clear {
    clear: both;
}

.timeline {
    list-style: none;
    margin: 0 0 30px 120px;
    padding-left: 30px;
    border-left: 3px solid #eaeaea;
}

.timeline li {
    margin: 0;
    position: relative;
}

.timeline p {
    margin: 0 0 15px;
}

.date {
    margin-top: -18px;
    top: 50%;
    left: -150px;
    font-size: 0.95em;
    line-height: 20px;
    position: absolute;
    padding: 5px 10px 5px 10px;
    border: 1px solid #ccc;
}

.circle {
    margin-top: -10px;
    top: 50%;
    left: -40px;
    width: 10px;
    height: 10px;
    background: #303c6c;
    border: 3px solid #eaeaea;
    border-radius: 50%;
    display: block;
    position: absolute;
}

.circle-start {
    margin-top: 0;
    top: 0;
    left: -45px;
    width: 20px;
    height: 20px;
    background: #fff;
    border: 3px solid #eaeaea;
    border-radius: 50%;
    display: block;
    position: absolute;
}

.circle-end {
    margin-top: 0;
    top: 100%;
    left: -45px;
    width: 20px;
    height: 20px;
    background: #fff;
    border: 3px solid #eaeaea;
    border-radius: 50%;
    display: block;
    position: absolute;
}

.content {
    padding: 50px 20px 0;
    border-radius: 0.5em;
    position: relative;
}

.content p {
    font-size: 1em;
    text-align: justify;
}

.timeline label {
    font-size: 1.3em;
    position: absolute;
    z-index: 100;
    top: 20px;
}

.radio {
    display: none;
}

.break {
    display: none;
}

.progress-radial {
    float: left;
    margin: 0 20px 20px 0;
    position: relative;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #303c6c;
}

.progress-radial .overlay {
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 50%;
    margin-left: 5px;
    margin-top: 5px;
    text-align: center;
    line-height: 60px;
    font-size: 9px;
}

.bullet-list {
    margin: 0;
    padding: 0;
    border-spacing: 0;
    border-collapse: collapse;
}

.bullet-list td:first-child {
    padding-right: 20px;
}

.bullet-list span {
    margin-right: 5px;
}

.bullet {
    width: 7px;
    height: 7px;
    border-radius: 30px;
    background: #ccc;
    display: inline-block;
}

.bullet.active {
    background: #000;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
}

@media only screen and (max-width: 600px) {
    #content {
        width: 100%;
    }

    nav li:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3)):not(:nth-child(6)), header {
        display: none;
    }

    nav li.icon {
        display: block;
    }

    #navToggle:checked + ul li {
        display: block;
        float: left;
        clear: left;
    }

    .box.preview {
        width: 100%;
    }

    .date {
        margin: 0;
        font-size: 0.95em;
        position: inherit;
        padding: 0;
        border: none;
    }

    .timeline {
        margin: 0;
    }

    .timeline label {
        position: absolute;
        z-index: 100;
        top: 23px;
    }
}
