/* Clean/standardize */
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td, nav, section, iframe, label {
    margin: 0;
    padding: 0;
}

a, img, button {
    outline: none;
}

a {
    color: inherit;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

ul {
    list-style: none;
}

th {
    font-weight: 300;
}

input, select, textarea, .textarea, button {
    box-sizing: border-box;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
}

input:focus, select:focus, textarea:focus, .textarea:focus, button:focus {
    outline: none;
}

input[type=checkbox] {
    margin-right: 5px;
}

button::-moz-focus-inner {
    border: 0;
}

table {
    border-collapse: separate;
    border-spacing: 0;
}

i {
    font-style: normal;
}

/* Normal */
html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    max-height: 100%;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #fff;
    display: flex;
    flex-direction: column;
    color: #242424;
}

header {
    margin-bottom: 1rem;
    text-align: center;
}

footer {
    margin-top: 1rem;
    text-align: right;
    padding: 2rem 0 2rem 0;
}

footer hr {
    margin-bottom: 2rem;
}

header hr, footer hr {
    border: 0;
    border-bottom: 1px solid #e6e6e6;
}

header img {
    max-width: 300px;
    min-width: 100px;
    width: 25%;
    margin: 3rem 0 0 0;
}

header h1, .preview h2 {
    font-size: 3rem;
    font-weight: 300;
    margin: 3rem 0 1rem 0;
}

header h2, .preview h2 {
    font-size: 1.5rem;
    font-weight: 300;
    margin: 0rem 0 3rem 0;
    color: #777;
}

nav {
    width: 100%;
    text-align: center;
    color: #e6e6e6;
}

nav a {
    color: #25acff;
}

main {
    flex-grow: 1;
}

nav ul, footer ul {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block;
    padding: .5rem 1rem .5rem 1rem;
}

#bottom-nav li {
    display: inline-block;
    padding: 0 1rem .5rem 1rem;
}

#social {
    margin-top: 1rem;
}

#social li {
    display: block;
    padding: 0 1rem .5rem 0;
}

#footer-left {
    text-align: left;
}

img {
    max-width: 100%;
}

a {
    color: #25acff;
    text-decoration: none;
}

.floater {
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
    box-sizing: border-box;
}

.content ul {
    list-style: none;
    margin: .5rem 0 .5rem 0;
    counter-reset: foo;
    display: table;
}

.content li {
    counter-increment: foo;
    display: table-row;
}

.content li:before {
    content: "\2022";
    color: #25acff;
    font-weight: bold;
    width: 1rem;
    display: table-cell;
    text-align: left;
}

.content h1 {
    font-size: 1.5rem;
    font-weight: 300;
    margin: 2rem 0 1rem 0;
}

.content h2 {
    font-size: 1.3rem;
    font-weight: 300;
    margin: 2rem 0 1rem 0;
}

.content h3 {
    margin: 1rem 0 1rem 0;
}

.content h4 {
    margin: 1rem 0 1rem 0;
}

.content a {
    text-decoration: underline;
}

.content a:hover {
    text-decoration: none;
}

.content p, .content ul {
    line-height: 1.7rem;
}

article blockquote {
    color: #fff;
    background: #25acff;
    border: 1px solid #0480ce;
    padding: 1rem;
    border-radius: 5px;
    margin: 1.5rem;
}

article code {
    padding: .3rem;
    background: #eee;
    display: inline;
}

article pre code {
    padding: 1rem;
    display: block;
    border-left: 3px solid #25acff;
    border-radius: 5px;
    margin: .5rem 0 .5rem 0;
    overflow: auto;
}

article code pre {
    margin: 0;
}

#footer-left {
    float: left;
}

article table {
    margin: 1rem 0 1rem 0;
    width: 100%;
}

article table thead {
    background: rgb(235, 235, 235);
    text-align: left;
}

article table td, article table th {
    line-height: 1.5rem;
    padding: .5rem;
}

article thead td {
    font-weight: 300;
}

article tbody tr:nth-child(2n) td {
    background: rgb(245, 245, 245);
}

@media only screen and (max-width: 600px) {
    #content {
        width: 100%;
    }

    nav li:not(:nth-child(2n+1)) {
        display: none;
    }

    .floater {
        width: 95%;
    }

    nav li, footer li {
        padding: .5rem .5rem .5rem .5rem;
    }
}

/*
@media (prefers-color-scheme: dark) {
    body {
        background: rgb(44, 44, 48);
        color: #dddddd;
    }

    code {
        color: rgb(44, 44, 48);
    }
}
*/